{
  "interviewers": [
    "田中",
    "鈴木",
    "佐藤",
    "高橋",
    "伊藤",
    "山本"
  ],
  "interviewees": [
    ["渡辺", "中村", "小林", "加藤", "吉田", "山田"],
    ["佐々木", "山口", "松本", "加藤", "吉田", "山田"]
  ],
  "doneList": [
    ["中村", "小林", "加藤", "渡辺", "山田", "吉田"],
    ["山口", "加藤", "佐々木", "山田", "吉田", "松本"],
    ["加藤", "吉田", "佐々木", "小林", "渡辺", "中村"],
    ["松本", "山口", "吉田", "山田", "加藤"],
    ["吉田", "渡辺", "中村", "加藤", "小林"],
    ["", "松本", "加藤", "山口", "", "吉田"],
    ["小林", "佐々木", "吉田", "中村", "加藤", "渡辺"],
    ["加藤", "", "山口", "松本", "吉田", ""],
    ["佐々木", "中村", "渡辺", "吉田", "小林", "加藤"]
  ]
}
